<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM1a9eqLJuAolji-ooPg8IMI9M_sniyL8</string>
	<key>GCM_SENDER_ID</key>
	<string>363362461856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.nikolas.Arquiteturas</string>
	<key>PROJECT_ID</key>
	<string>arquiteturas-22b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>arquiteturas-22b9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363362461856:ios:88cd10baf16466b61501c5</string>
</dict>
</plist>